body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}
.card{
   max-width: 500px;
   padding: 10px 50px 30px 50px;
   margin: 0 10px;
   border-radius: 15px;
   background-color: rgba(34, 4, 58, 0.918);
   color: white;
   overflow-x: hidden;
   
}
.card-task{
    border: 1px solid rgb(160, 166, 221);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}
.card-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title{
    font-weight: bolder;
    font-size: 20px;
    margin: 0 0 8px 0;
}
.piority{
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 12px;
    background-color: red;
    padding: 6px;
    border-radius: 4px;
}
.task{
    font-size: 14px;
    line-height: 1.5;
}
.task.active{
    text-decoration: line-through;
}
time{
    display: block;
    margin-bottom: 10px;
}
#time-left{
    border-top: 1px solid #ffffff;
    padding-top: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#pend{
    border-top: 1px solid #ffffff;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 17px;
}
ul{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
ul li{
    list-style-type: none;
    background-color: #f1f5f9;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    color: #475569;
    width: 50px;
    text-align: center;
}
ul li:nth-child(3){
    background-color: rgba(135, 26, 236, 0.945);
    color: #ffffff;
}
.btn{
    border-top: 1px solid #f1f5f9;
    padding-top: 16px;
    display: flex;
    gap: 15px;
}
button{
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid #e2e8f0;
    background-color: #ffffff;
    font-size: 15px;
    width: 100px;
    cursor: pointer;
    border: none;
}
.edit-btn{
    background-color: rgba(135, 26, 236, 0.945);
    color: #ffffff;
}
.edit-form{
    display: none;
    max-width: 500px;
   padding: 10px 50px 30px 50px;
   margin: 0 10px;
   border-radius: 15px;
   background-color: rgba(34, 4, 58, 0.918);
   color: white;
   overflow-x: hidden;
}
.label-title{
    text-align: center;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
}
.label-task{
    text-align: center;
    display: block;
    padding-top: 25px;
    font-weight: bold;
    padding-bottom: 25px;
}
.edit-input{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 200px;
    display: block;
    margin: auto;
}
textarea{
    display: block;
    margin: auto;
    border-radius: 5px;
    border: none;
    height: 90px;
    width: 300px;
    resize: none;
}
@media (max-width: 500px) {
    textarea{
        width: 200px;
    }
}
select{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.edit-date{
    display: block;
}
.cancel-btn{
    background-color: rgba(135, 26, 236, 0.945);
    color: white;
}
